.header {
    background-color: #EC96A4; /* Cambia este color al que desees */
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.header .btn {
    background-color: white;
    color: #5D535E;
    border: 1px solid #5D535E;
    margin: 0 10px;
}

.header .btn:hover {
    background-color: #5D535E;
    color: white;
}

.modal-dialog {
    max-width: 80%;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

h2 {
    color: #545454;
}

#serviceModal {
    z-index: 9999; /* Asegúrate de que este valor sea mayor que el del modal de profesionales */
}